flask==3.1.0
ultralytics==8.3.63
easyocr==1.7.2
opencv-python-headless==4.10.0.84
pillow==11.0.0
requests==2.32.3
yt-dlp==2024.12.23
gunicorn==23.0.0
pymongo==4.10.1
numpy==1.26.4
torch==2.5.1
torchvision==0.20.1
